#board-wrapper {
  color: white;
  display: grid;
  grid-template-areas:
    ". columnheader ."
    "rowheader board rowfooter"
    ". columnfooter ."
    "boardfooter boardfooter boardfooter";
  grid-template-columns: auto 1fr auto;
  touch-action: none;
  #board {
    grid-area: board;
    :global {
      .row {
        display: flex;
      }
      .row:nth-child(6n) button {
        border-top-width: 2px;
      }
      button:nth-child(6n) {
        border-left-width: 2px;
      }
    }
  }
  :global {
    #row-footer {
      grid-area: rowfooter;
    }
    #column-footer {
      grid-area: columnfooter;
    }
    #board-footer {
      grid-area: boardfooter;
    }
  }
}
