#board-wrapper {
  color: white;
  display: grid;
  grid-template-areas:
    "blank columnheader"
    "rowheader board"
    "boardfooter boardfooter";
  #board {
    grid-area: board;
    :global {
      .row {
        display: flex;
      }
      .row:nth-child(6n) button {
        border-top-width: 3px;
      }
      button:nth-child(6n) {
        border-left-width: 3px;
      }
    }
  }
  #board-footer {
    grid-area: boardfooter;
  }
}
