#board-wrapper {
  color: white;
  display: grid;
  grid-template-areas:
    "blank columnheader"
    "rowheader board"
    "boardfooter boardfooter";
  #board {
    grid-area: board;
    :global {
      .row:nth-child(6n) button {
        border-top-width: 3px;
      }
      button:nth-child(6n) {
        border-left-width: 3px;
      }
    }
  }
  #board-footer {
    grid-area: boardfooter;
  }
  .column-data {
    display: flex;
    grid-area: columnheader;
    > div {
      width: var(--square-size);
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
    }
  }
  .row-data {
    display: flex;
    flex-direction: column;
    grid-area: rowheader;
    > div {
      height: var(--square-size);
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}
