.column-data {
  display: flex;
  grid-area: columnheader;
  > div {
    width: var(--square-size);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
}
.row-data {
  display: flex;
  flex-direction: column;
  grid-area: rowheader;
  > div {
    height: var(--square-size);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .delimiter {
    font-size: 10px;
    &:last-child {
      display: none;
    }
  }
}
